{% extends 'Admin_Templates/base_admin.html' %}
{% block cssblock %}
{% load static %}
<title>Bacti Barrier - Admin Panel</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style>/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
{% endblock cssblock %}

{% block bodyblock %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-8 col-6">
                <h4 class="page-title">Franchise Account Creation</h4>
            </div>
            <div class="col-sm-4 col-6 text-right m-b-30">
                <a href="{% url 'AdminAllFranchise' %}" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> View Franchise</a>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-box">
                <div class="row">
                    <div class="col-md-12">
                        <div class="profile-img-wrap">
                                <img class="inline-block" src="{% static 'img/DefaultUserPic.jpg' %}" alt="">
                            <div class="fileupload btn">
                                <span class="btn-text">edit</span>
                                <input class="upload" type="file" name="userpic">
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">First Name</label>
                                        <input type="text" class="form-control floating" name="fname" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">Last Name</label>
                                        <input type="text" class="form-control floating" name="lname" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">Mobile Number</label>
                                        <input type="number" class="form-control floating" name="phone" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">Email ID</label>
                                         <input class="form-control floating" type="email" name="email" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">Gendar</label>
                                        <select class="form-control floating" name="gender" required>
                                            <option value="0" selected>--Select Gender--</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">Aadhar Number</label>
                                        <input type="number" class="form-control floating" name="aadhar" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">Address</label>
                                        <input type="text" class="form-control floating" name="address" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">State</label>
                                        <select class="form-control" name="state" required id="stateID" onchange="district_select()">
                                            <option value="0" selected>--Select State--</option>
                                            {% for state in stateList %}
                                            <option value="{{state.state_name}}">{{state.state_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">District</label>
                                        <select class="form-control" name="district" id="districtID" onchange="district_select1()">
                                        <option value="0" selected>--Select District--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">City</label>
                                        <input type="text" class="form-control floating" name="city" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">Pincode</label>
                                        <input type="number" class="form-control floating" name="pincode" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">Aadhar Document</label>
                                        <input class="form-control" type="file" name="aadharfile">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="text-center m-t-20">
                <button type="submit" class="btn btn-primary submit-btn">Create Account</button>
            </div>
        </form>

    </div>
</div>
{% endblock bodyblock %}

{% block jsblock %}
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script>if ( window.history.replaceState ) {window.history.replaceState( null, null, window.location.href );}</script>
{% if messages %}
{% for message in messages %}
<script>
  alert("{{ message }}");
</script>
{% endfor %}
{% endif %}

<script>
    function district_select()
    {var stateName=document.getElementById("stateID").value;
        var list = ""
        $.ajax({
            url: "{% url 'depandent_District' %}",
            type:"get",
            data:{sN:stateName},
            success:function(data){
                document.getElementById("districtID").innerHTML=data;
            }
        })
    }
</script>
{% endblock jsblock %}
