<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
{% block cssblock %}
{% endblock cssblock %}
<!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
<![endif]-->
</head>
<body>
<div class="main-wrapper">
    <div class="header">
        <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
        <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
        <div class="header-left" style="margin-top:0.5em;">
            <img src="{% static 'img/logo.png' %}" width="200" height="35" alt="">
        </div>
        <ul class="nav user-menu float-right">
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                         {% if currentUser_admin.profilePic %}
                            <span class="user-img"><img class="rounded-circle" src="/media/{{currentUser_admin.profilePic}}" alt="">
                            <span class="status online"></span>
                            </span>
                        {% else %}
                            <span class="user-img"><img class="rounded-circle" src="{% static 'img/DefaultUserPic.jpg' %}" alt="">
                            <span class="status online"></span>
                            </span>
                        {% endif %}
                    <span>{{ user.first_name }}</span>
                </a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'AdminViewProfile' %}">My Profile</a>
                <a class="dropdown-item" href="{% url 'AdminEditProfile' %}">Edit Profile</a>
                <a class="dropdown-item" href="{% url 'ChangePassword' %}">Change Password</a>
                <a class="dropdown-item" href="{% url 'LogoutUser' %}">Logout</a>
                </div>
            </li>
        </ul>
        <div class="dropdown mobile-user-menu float-right" style="margin-top:0.3em;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'AdminViewProfile' %}">My Profile</a>
                <a class="dropdown-item" href="{% url 'AdminEditProfile' %}">Edit Profile</a>
                <a class="dropdown-item" href="{% url 'ChangePassword' %}">Change Password</a>
                <a class="dropdown-item" href="{% url 'LogoutUser' %}">Logout</a>
            </div>
        </div>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title"><strong>Admin Panel</strong> => {{user.username}}</li>
                    {% url 'AdminHomePage' as AdminHomePage %}
                    <li class="{% if request.path == AdminHomePage %} active {% endif %}">
                        <a href="{{ AdminHomePage }}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                    </li>
                    {% url 'AdminAddFranchise' as AdminAddFranchise %}
                    <li class="{% if request.path == AdminAddFranchise %} active {% endif %}">
                        <a href="{{ AdminAddFranchise }}"><i class="fa fa-user-plus" aria-hidden="true"></i> <span>Add Franchise</span></a>
                    </li>
                    {% url 'AdminAllFranchise' as AdminAllFranchise %}
                    <li class="{% if request.path == AdminAllFranchise %} active {% endif %}">
                        <a href="{{ AdminAllFranchise }}"><i class="fa fa-users" aria-hidden="true"></i> <span>View Franchise</span></a>
                    </li>
                    {% url 'AdminCertificateView' as AdminCertificateView %}
                    <li class="{% if request.path == AdminCertificateView %} active {% endif %}">
                        <a href="{{ AdminCertificateView }}"><i class="fa fa-certificate" aria-hidden="true"></i> <span>View Certificate</span></a>
                    </li>

<!--                    <li>-->
<!--                        <a href=""><i class="fa fa-plus" aria-hidden="true"></i> <span>Add ServiceType</span></a>-->
<!--                    </li>-->

                    {% url 'SendEmail' as SendEmail %}
                    <li class="{% if request.path == SendEmail %} active {% endif %}">
                        <a href="{{ SendEmail }}"><i class="fa fa-at"></i> <span>Send Mail</span></a>
                    </li>
                    {% url 'AdminUpdateFAQ' as AdminUpdateFAQ %}
                    <li class="{% if request.path == AdminUpdateFAQ %} active {% endif %}">
                        <a href="{{ AdminUpdateFAQ }}"><i class="fa fa-book"></i> <span>Updating FAQ</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% block bodyblock %}
    {% endblock bodyblock %}
</div>
{% block jsblock %}
{% endblock jsblock %}
</body>
</html>