<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
<title>Bacti Barrier - Client Certificate</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
<![endif]-->
<style>
    @page{
     size:a4 portrait;
         @frame header_frame {
               -pdf-frame-content:header_content;
               left:60pt;
               width:512pt;
               top:60pt;
               height:50pt
         }
         @frame footer_frame {
               -pdf-frame-content:footer_content;
               left:60pt;
               width:512pt;
               top:772pt;
               height:30pt
         }
         @frame content_frame {
            left:50pt;
            width:512pt;
            top:50pt;
            height:620pt;
         }
    }
</style>
</head>
<body>
<h1 style="text-align:center;margin-bottom:2em;"><u>CERTIFICATE OF YOUR SERVICE</u></h1>
<table>
    <tr>
        <td style="vertical-align: top;">
            <ul style="list-style-type:none; font-size:1.3em;margin-left:8em;">
                <li style="margin-bottom:0.5em;"><img src="http://127.0.0.1:8000/static/img/logo.png" alt="" width="100"></li>
                <li>Bacti Barrier India</li>
                <li>X -1, F Block, Pocket X,</li>
                <li>Okhla Phase II,</li>
                <li>New Delhi, Delhi 110020</li>
            </ul>
        </td>
        <td style="vertical-align: top;">
            <ul  style="list-style-type:none; font-size:1.3em;margin-left:8em;">
            {% for client in clients %}
                <li style="margin-left:1em;"><strong>Number</strong> #{{client.id}}</li>
                <li><img src="media/{{client.barcodePath}}" alt="" width="90" height="90"></li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    <tr><td><br></td><td><br></td></tr>
    <tr>
        <td style="vertical-align: top;">
            <ul  style="list-style-type:none; font-size:1.3em;margin-left:8em;">
                <li><strong>Issued By</strong></li>
            {% for client in clients %}
                <li>{{client.franchiseID.admin.first_name}} {{client.franchiseID.admin.last_name}}</li>
                <li>Employee ID: {{client.franchiseID.id}}</li>
                <li>{{client.franchiseID.phoneNumber}}</li>
                <li>{{client.franchiseID.admin.email}}</li>
                {% endfor %}
            </ul>
        </td>
        <td style="vertical-align: top;">
            {% for client in clients %}
            <ul  style="list-style-type:none; font-size:1.3em;margin-left:8em;">
                <li><strong>Your Details</strong></li>
                <li>{{client.admin.first_name}} {{client.admin.last_name}}</li>
                <li>{{client.phoneNumber}}</li>
                <li>{{client.admin.email}}</li>
            </ul>
            {% endfor %}
        </td>
    </tr>
</table>
<br>
<div>
<h2><strong><u>Service Details</u></strong></h2>
<table border="1" style="padding:3px;">
        <tr>
            <td><strong>Name of Service</strong></td>
            <td>NA</td>
        </tr>
        <tr>
            <td><strong>Number of Services</strong></td>
            <td>NA</td>
        </tr>
        <tr>
            <td><strong>Validity of Service</strong></td>
            <td>NA</td>
        </tr>
</table>
</div>
<p><strong>Contacts</strong> Phone: 011-40400088 | +91 9953677841, Email ID - contact@bactibarrierindia.com</p>

</body>
</html>