{% extends 'Admin_Templates/base_admin.html' %}
{% block cssblock %}
{% load static %}
<title>Bacti Barrier - Admin Panel</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
{% endblock cssblock %}

{% block bodyblock %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-7 col-6">
                <h4 class="page-title">My Profile</h4>
            </div>
            <div class="col-sm-5 col-6 text-right m-b-30">
                <a href="{% url 'AdminViewProfile' %}" class="btn btn-primary btn-rounded">View Profile</a>
            </div>
        </div>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-box">
                <div class="row">
                    <div class="col-md-12">
                        <div class="profile-img-wrap">
                            {% if currentUser_admin.profilePic %}
                                <img class="inline-block" src="/media/{{currentUser_admin.profilePic}}" alt="">
                            {% else %}
                                <img class="inline-block" src="{% static 'img/DefaultUserPic.jpg' %}" alt="">
                            {% endif %}
                            <div class="fileupload btn">
                                <span class="btn-text">edit</span>
                                <input class="upload" type="file" name="userpic">
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">First Name</label>
                                        <input type="text" class="form-control floating" name="fname", value="{{user.first_name}}" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">Last Name</label>
                                        <input type="text" class="form-control floating" name="lname", value="{{user.last_name}}" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">Phone Number</label>
                                        <input type="number" class="form-control floating" name="phone" value="{{currentUser_admin.phoneNumber}}" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">Email ID</label>
                                         <input class="form-control floating" type="email" name="email", value="{{user.email}}" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">Gendar</label>
                                        <select class="form-control floating" name="gender" required>
                                                {% if currentUser_admin.gender == "male" %}
                                                <option value="Male" selected>Male</option>
                                                {% else %}
                                                <option value="Male">Male</option>
                                                {% endif %}

                                                {% if currentUser_admin.gender == "female" %}
                                                <option value="Female" selected>Female</option>
                                                {% else %}
                                                <option value="Female">Female</option>
                                                {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">Aadhar Number</label>
                                        <input type="number" class="form-control floating" name="aadhar" value="{{currentUser_admin.aadharNumber}}" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">Address</label>
                                        <input type="text" class="form-control floating" name="address" value="{{currentUser_admin.address}}" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">State</label>
                                        <select class="form-control" name="state" required id="stateID" onchange="district_select()">
                                            <option value="0" selected>--Select State--</option>
                                            {% for state in stateList %}
                                                  <option value="{{state.state_name}}" {% if state.state_name == currentUser_admin.state %} selected {% endif %}>{{state.state_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">District</label>
                                        <select class="form-control" name="district" id="districtID" onclick="district_select1()">
                                            <option value="{{currentUser_admin.district}}" selected>{{currentUser_admin.district}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">City</label>
                                        <input type="text" class="form-control floating" name="city" value="{{currentUser_admin.city}}" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="focus-label">Pincode</label>
                                        <input type="number" class="form-control floating" name="pincode" value="{{currentUser_admin.pinCode}}" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="text-center m-t-20">
                <button type="submit" class="btn btn-primary submit-btn">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock bodyblock %}

{% block jsblock %}
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script>if ( window.history.replaceState ) {window.history.replaceState( null, null, window.location.href );}</script>
{% if status %}
<script>
  alert("{{ status }}");
</script>
{% endif %}
<script>
    function district_select()
    {   var stateName=document.getElementById("stateID").value;
        var opt=document.getElementById("districtID").value;
        var list = ""
        $.ajax({
            url: "{% url 'depandent_District' %}",
            type:"get",
            data:{sN:stateName, opt:opt},
            success:function(data){
                document.getElementById("districtID").innerHTML=data;
            }
        })
    }
</script>
{% endblock jsblock %}
