{% extends 'Admin_Templates/base_admin.html' %}
{% block cssblock %}
{% load static %}
<title>Bacti Barrier - Admin Panel</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/summernote/dist/summernote-bs4.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock cssblock %}

{% block bodyblock %}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Compose</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" placeholder="To" class="form-control" name="toemail">
                        </div>
<!--                        <div class="row">-->
<!--                            <div class="col-md-6">-->
<!--                                <div class="form-group">-->
<!--                                    <input type="email" placeholder="Cc" class="form-control" name="ccemail">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <div class="form-group">-->
<!--                                    <input type="email" placeholder="Bcc" class="form-control" name="bccemail">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="form-group">
                            <input type="text" placeholder="Subject" class="form-control" name="subject">
                        </div>
                        <div class="form-group">
                            <textarea rows="10" cols="5" class="form-control" placeholder="Enter your message here" name="messagebody"></textarea>
                        </div>
                        <div class="form-group mb-0">
                            <div class="text-center compose-btn">
                                <button class="btn btn-primary" type="submit"><span>Send</span> <i class="fa fa-send m-l-5"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock bodyblock %}
{% block jsblock %}
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<!--<script src="{% static 'plugins/summernote/dist/summernote-bs4.min.js' %}"></script>-->
<script src="{% static 'js/app.js' %}"></script>
<script>if ( window.history.replaceState ) {window.history.replaceState( null, null, window.location.href );}</script>
{% if status %}
<script>
  alert("{{ status }}");
</script>
{% endif %}
{% endblock jsblock %}
