{% extends 'Admin_Templates/base_admin.html' %}
{% block cssblock %}
{% load static %}
<title>Bacti Barrier - Change Password</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock cssblock %}

{% block bodyblock %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h4 class="page-title">Change Password</h4>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Old password</label>
                                <input type="password" class="form-control" name="cpass" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>New password</label>
                                <input type="password" class="form-control" name="pass" id="pas" onkeyup="check_pass()" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Confirm password</label>
                                <input type="password" class="form-control" name="pass1" id="cpas" onkeyup="check_pass()" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center m-t-20">
                            <button type="submit" class="btn btn-primary submit-btn" id="upbtn">Update Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock bodyblock %}

{% block jsblock %}
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script>if ( window.history.replaceState ) {window.history.replaceState( null, null, window.location.href );}</script>
<script>
    function check_pass()
    {
    let p =$("#pas").val();
    let cp =$("#cpas").val();
    if (p==cp)
    {
    $("#pas").css("border",  "1px solid green");
    $("#cpas").css("border",  "1px solid green");
    $("#upbtn").removeAttr("disabled")

    }else
    {
    $("#pas").css("border",  "1px solid red");
    $("#cpas").css("border",  "1px solid red");
    $("#upbtn").attr("disabled", "disabled")

    }

    }

</script>
{% if msg %}
<script>
  alert("{{ msg }}");
</script>
{% endif %}

{% endblock jsblock %}
