<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
<title>Bacti Barrier - Digital ID</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
<![endif]-->
<style>
    @page{
     size:a4 portrait;
         @frame header_frame {
               -pdf-frame-content:header_content;
               left:60pt;
               width:512pt;
               top:60pt;
               height:50pt
         }
         @frame footer_frame {
               -pdf-frame-content:footer_content;
               left:60pt;
               width:512pt;
               top:772pt;
               height:30pt
         }
         @frame content_frame {
            left:50pt;
            width:512pt;
            top:50pt;
            height:620pt;
         }
    }
</style>
</head>
<body>
<h1 style="text-align:center;margin-bottom:2em;color:green;"><u>Bacti Barrier Digital ID Card</u></h1>
<table>
    <tr>
        <td style="vertical-align: top;">
            {% for franchise in franchises %}
                <p style="margin-left:18em;"><strong>ID Number</strong> {{franchise.id}}<br>
                {{franchise.admin.first_name}} {{franchise.admin.last_name}}<br>
                {{franchise.phoneNumber}}<br>
                {{franchise.admin.email}}</p>
            {% endfor %}
        </td>
        <td style="vertical-align: top;">
            {% for franchise in franchises %}
                <p style="margin-left:5em;"><img src="media/{{franchise.profilePic}}" alt="" width="90" height="90"></p>
            {% endfor %}
            </ul>
        </td>
    </tr>
</table>
<br>
<div>
</div>
<p style="margin-left:18em;">Bacti Barrier India, X -1, F Block, Pocket X, Okhla Phase II, New Delhi, Delhi 110020<br><strong>Contacts</strong> Phone: 011-40400088 | +91 9953677841, Email ID - contact@bactibarrierindia.com</p>
</body>
</html>