<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title>Bacti Barrier - Forgot Password</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond.min.js' }"></script>
<![endif]-->
</head>
<body>
<div class="main-wrapper account-wrapper">
    <div class="account-page">
        <div class="account-center">
            <div class="account-box">
                <h4 style="text-align:center;color:blue;" id="rps"><u>Reset Password Here</u></h4>
            <div class="account-logo" id="result"></div>
            <div class="account-logo">
                <img src="{% static 'img/logo.png' %}" alt="">
            </div>
                <form class="form-signin" method="POST">
                    {% csrf_token %}
                    <div class="form-group" id="enterusername">
                        <label>Enter Username</label>
                        <input type="text" id="un" name="uname" class="form-control" autofocus required>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary account-btn" type="button" onclick="getpass()" id="continue">Click to Continue</button>
                    </div>
                    <div class="mt-2 mb-2 text-center" id="spin" style="display:none">
                        <div class="spinner-border text-primary"></div>
                    </div>

                    <div class="form-group" style="display:none" id="afterotp">
                        <label>Enter OTP</label>
                        <input type="text" id="uotp" name="uotp" class="form-control" autofocus required>
                    <div class="form-group text-center mt-2">
                        <button class="btn btn-primary account-btn text-center" type="button" onclick="matchotp()">Verify OTP</button>
                    </div>
                    </div>
                    <input type="hidden", id="realotp">
                    <div style="display:none", id="changepass">
                    <div class="form-group">
                        <label>Enter New Password</label>
                        <input type="password" name="newpass" class="form-control" autofocus required>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary account-btn" type="submit">Change My Password</button>
                    </div>
                    </div>
                    <div class="text-center register-link">
                        <a href="{% url 'LoginPage' %}">Back to Login Page</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% if status %}
<script>
  alert("{{ status }}");
</script>
{% endif %}
<script>
function getpass(){
    $("#spin").show()
    let username=$("#un").val()
    $.ajax({
        url:"{% url 'resetpassword' %}",
        type:"get",
        data:{username:username},
        success:function(data)
        {
            $("#spin").hide()

            if(data.status=="failed")
            {
            alert("Username not found");
            }
            else if(data.status=="error")
            {
            alert("Something went wrong or email sending problem");
            }
            else if(data.status == "sent")
            {
             alert("OTP has been sent to register email ID");
             $("#continue").hide();
             $("#enterusername").hide();
             $("#afterotp").slideDown(1000);
             $("#realotp").val(data.rotp);
            }
        }
     })
}

function matchotp(){
$("#rps").hide()
uotp = $("#uotp").val();
rotp = $("#realotp").val();
if (uotp == rotp)
{
$("#afterotp").hide();
$("#changepass").fadeIn(1000);
alert("OTP match");
}else
{
alert("OTP not match");
}
}
</script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script>if ( window.history.replaceState ) {window.history.replaceState( null, null, window.location.href );}</script>
</body>
</html>