<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title>Bacti Barrier | Login</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!--[if lt IE 9]>
<script src="{% static 'js/html5shiv.min.js' %}"></script>
<script src="{% static 'js/respond.min.js' %}"></script>
<![endif]-->
<style>
    .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
</style>
</head>
<body onload="GenerateCaptcha();">
<div class="main-wrapper account-wrapper">
    <div class="account-page">
        <div class="account-center">
            <div class="account-box">
                <form method="POST" class="form-signin">
                    {% csrf_token %}
                    <div class="account-logo">
                        <a href="{% url 'LoginPage' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="username" {% if username %} {% else %} autofocus {% endif %} class="form-control" required value="{{username}}">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" {% if username %} autofocus {% endif %} required>
                    </div>
                    <div class="form-group">
                        <label>Captach</label>
                        <input type="text" name="txtCaptcha" class="form-control" required/>
                    </div>
                    <div class="form-group" style="text-align:right">
                        <input hidden id="txtCaptcha1" type="text" name="genCaptcha" class="form-control" required/>
                        <span id="txtCaptcha" class="noselect" style="margin-right:2em;text-align:right;font-weight:bold;font-style:italic;font-size:1.5em;color:blue;"></span>
                        <button type="button" id="btnrefresh" class="fa fa-refresh" onclick="GenerateCaptcha();"/>
                    </div>
                    <div class="form-group text-right">
                        <a href="{% url 'forgotpassword' %}" style="color:Maroon;"><strong>Forgot your password?</strong></a>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary account-btn">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% if messages %}
{% for message in messages %}
<script>
  alert("{{ message }}");
</script>
{% endfor %}
{% endif %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script>if ( window.history.replaceState ) {window.history.replaceState( null, null, window.location.href );}</script>
<script>
function GenerateCaptcha()
{
    var n1 = Math.floor(Math.random() * 10);
    var n2 = Math.floor(Math.random() * 10);
    var n3 = Math.floor(Math.random() * 10);
    var n4 = Math.floor(Math.random() * 10);
    var n5 = Math.floor(Math.random() * 10);
    var code = n1 + ' ' + n2 + ' ' + n3 + ' ' + n4 + ' ' + n5;
    document.getElementById("txtCaptcha").innerHTML = code
    document.getElementById("txtCaptcha1").value = code
}
</script>
</body>
</html>