<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
{% block cssblock %}
{% endblock cssblock %}
<!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
<![endif]-->
</head>
<body>
<div class="main-wrapper">
    <div class="header">
        <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
        <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
        <div class="header-left" style="margin-top:0.5em;">
            <img src="{% static 'img/logo.png' %}" width="200" height="35" alt="">
        </div>
        <ul class="nav user-menu float-right">
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                         {% if currentUser_franchise.profilePic %}
                            <span class="user-img"><img class="rounded-circle" src="/media/{{currentUser_franchise.profilePic}}" alt="">
                            <span class="status online"></span>
                            </span>
                        {% else %}
                            <span class="user-img"><img class="rounded-circle" src="{% static 'img/DefaultUserPic.jpg' %}" alt="">
                            <span class="status online"></span>
                            </span>
                        {% endif %}
                    <span>{{ user.first_name }}</span>
                </a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'FranchiseViewProfile' %}">My Profile</a>
                    <a class="dropdown-item" href="{% url 'FranchiseEditProfile' %}">Edit Profile</a>
                    <a class="dropdown-item" href="{% url 'ChangePassword' %}">Change Password</a>
                    <a class="dropdown-item" href="{% url 'LogoutUser' %}">Logout</a>
                </div>
            </li>
        </ul>
        <div class="dropdown mobile-user-menu float-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'FranchiseViewProfile' %}">My Profile</a>
                <a class="dropdown-item" href="{% url 'FranchiseEditProfile' %}">Edit Profile</a>
                <a class="dropdown-item" href="{% url 'ChangePassword' %}">Change Password</a>
                <a class="dropdown-item" href="{% url 'LogoutUser' %}">Logout</a>
            </div>
        </div>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title"><strong>Franchise Panel</strong> => {{user.username}}</li>
                    <li>
                        <a href="{% url 'FranchiseHomePage' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                    </li>
                    <li>
                        <a href="{% url 'FranchiseCertificateIssue' %}"><i class="fa fa-plus"></i> <span>Create Certificate</span></a>
                    </li>
                    <li>
                        <a href="{% url 'FranchiseCertificateView' %}"><i class="fa fa-eye"></i> <span>View Certificate</span></a>
                    </li>
                    <li>
                        <a target="_blank" href="{% url 'FranchiseDigitalID' %}"><i class="fa fa-id-card" aria-hidden="true"></i> <span>Digital ID</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% block bodyblock %}
    {% endblock bodyblock %}
</div>
{% block jsblock %}
{% endblock jsblock %}
</body>
</html>