{% extends 'Franchise_Templates/base_franchise.html' %}
{% block cssblock %}
{% load static %}
<title>Bacti Barrier - Franchise Panel</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style>/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
{% endblock cssblock %}

{% block bodyblock %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-title">Fill below details for Client Certificate issue</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>First Name <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" name="fname" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Last Name <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" name="lname" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="focus-label">Gendar <span class="text-danger">*</span></label>
                                <select class="form-control floating" name="gender" required>
                                   <option value="0">--Select Gender--</option>
                                   <option value="Male">Male</option>
                                   <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                       <div class="col-sm-4">
                            <div class="form-group">
                                <label>Phone <span class="text-danger">*</span></label>
                                <input class="form-control" type="number" name="phone" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Email <span class="text-danger">*</span></label>
                                <input class="form-control" type="email" name="email" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Aadhar <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" name="aadhar" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Address <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="address" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>State <span class="text-danger">*</span></label>
                                <select class="form-control" name="state" required id="stateID" onchange="district_select()">
                                    <option value="0" selected>--Select State--</option>
                                    {% for state in stateList %}
                                    <option value="{{state.state_name}}">{{state.state_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>District <span class="text-danger">*</span></label>
                                <select class="form-control" name="district" id="districtID" onchange="district_select1()">
                                <option value="0" selected>--Select District--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>City <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="city" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Pincode <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" name="pincode" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Service Type <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Service Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="focus-label">Photo</label>
                                <input class="form-control" type="file" name="userpic">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="focus-label">Aadhar Document</label>
                                <input class="form-control" type="file" name="aadharFile">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="focus-label">Police Verification File</label>
                                <input class="form-control" type="file" name="policeFile">
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20 text-center">
                        <button type="submit" class="btn btn-primary submit-btn">Send to Admin</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock bodyblock %}

{% block jsblock %}
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script>if ( window.history.replaceState ) {window.history.replaceState( null, null, window.location.href );}</script>
{% if messages %}
{% for message in messages %}
<script>
  alert("{{ message }}");
</script>
{% endfor %}
{% endif %}
<script>
    function district_select()
    {   var stateName=document.getElementById("stateID").value;
        var opt=document.getElementById("districtID").value;
        var list = ""
        $.ajax({
            url: "{% url 'depandent_District' %}",
            type:"get",
            data:{sN:stateName, opt:opt},
            success:function(data){
                document.getElementById("districtID").innerHTML=data;
            }
        })
    }
</script>
{% endblock jsblock %}
