{% extends 'Franchise_Templates/base_franchise.html' %}
{% block cssblock %}
{% load static %}
<title>Bacti Barrier - Franchise</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock cssblock %}

{% block bodyblock %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Dashboard Here</h4>
            </div>
        </div>
    </div>
</div>
{% endblock bodyblock %}

{% block jsblock %}
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/Chart.bundle.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock jsblock %}
