{% extends 'Franchise_Templates/base_franchise.html' %}
{% block cssblock %}
{% load static %}
<title>Bacti Barrier - Admin Panel</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock cssblock %}

{% block bodyblock %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-8 col-6">
                <h4 class="page-title">View Franchise</h4>
            </div>
            <div class="col-sm-4 col-6 text-right m-b-30">
                <a href="{% url 'FranchiseCertificateIssue' %}" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Create Certificate</a>
            </div>
        </div>

<!--        <div class="row filter-row">-->
<!--            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">-->
<!--                <div class="form-group form-focus">-->
<!--                    <label class="focus-label">Franchise Name</label>-->
<!--                    <input type="text" class="form-control floating">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">-->
<!--                <div class="form-group form-focus">-->
<!--                    <label class="focus-label">From</label>-->
<!--                    <div class="cal-icon">-->
<!--                        <input class="form-control floating datetimepicker" type="text">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">-->
<!--                <div class="form-group form-focus">-->
<!--                    <label class="focus-label">To</label>-->
<!--                    <div class="cal-icon">-->
<!--                        <input class="form-control floating datetimepicker" type="text">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">-->
<!--                <a href="#" class="btn btn-success btn-block"> Search </a>-->
<!--            </div>-->
<!--        </div>-->
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Photo</th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Aadhar</th>
                                <th>Gender</th>
                                <th>Certificate</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if clients %}
                          {% for client in clients %}
                            <tr>
                                <td>{{client.admin.id}}</td>
                                <td>
                                    <span class="avatar">
                                     {% if client.profilePic %}
                                     <img alt="" src="/media/{{client.profilePic}}" class="img-fluid rounded-circle">
                                    {% else %}
                                     <img alt="" src="{% static 'img/DefaultUserPic.jpg' %}" class="img-fluid rounded-circle">
                                    {% endif %}
                                    </span>
                                </td>
                                <td>{{client.admin.username}}</td>
                                <td>{{client.admin.first_name}} {{client.admin.last_name}}</td>
                                <td>{{client.phoneNumber}}</td>
                                <td>{{client.admin.email}}</td>
                                <td>{{client.aadharNumber}}</td>
                                <td>{{client.gender}}</td>
                                <td>
                                    <a href="ClientCertificate/{{client.id}}" class="btn btn-success btn-block" target="_blank">View</a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock bodyblock %}

{% block jsblock %}
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock jsblock %}
