{% extends 'Franchise_Templates/base_franchise.html' %}
{% block cssblock %}
{% load static %}
<title>Bacti Barrier - Franchise Panel</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock cssblock %}

{% block bodyblock %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-7 col-6">
                <h4 class="page-title">My Profile</h4>
            </div>
            <div class="col-sm-5 col-6 text-right m-b-30">
                <a href="{% url 'FranchiseEditProfile' %}" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Edit Profile</a>
            </div>
        </div>
        <div class="card-box profile-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                            {% if currentUser_franchise.profilePic %}
                                <img class="inline-block" src="/media/{{currentUser_franchise.profilePic}}" alt="">
                            {% else %}
                                <img class="inline-block" src="{% static 'img/DefaultUserPic.jpg' %}" alt="">
                            {% endif %}
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left text-left">
                                        {% if user.first_name %}
                                        <h3 class="user-name m-t-0 mb-0">{{user.first_name}} {{user.last_name}}</h3>
                                        {% else %}
                                        <h3 class="user-name m-t-0 mb-0">Still Name not fill by User</h3>
                                        {% endif %}
                                        <ul class="personal-info mt-2">
                                            <li>
                                                <span class="title">Username</span>
                                                <span class="text">{{user.username}}</span>
                                            </li>
                                            <li>
                                                <span class="title">Phone</span>
                                                {% if currentUser_franchise.phoneNumber %}
                                                <span class="text">{{currentUser_franchise.phoneNumber}}</span>
                                                {% else %}
                                                <span class="text">NA</span>
                                                {% endif %}
                                            </li>
                                            <li>
                                                <span class="title">Email</span>
                                                {% if user.email %}
                                                <span class="text">{{user.email}}</span>
                                                {% else %}
                                                <span class="text">NA</span>
                                                {% endif %}
                                            </li>
                                            <li>
                                                <span class="title">Aadhar</span>
                                                {% if currentUser_franchise.aadharNumber %}
                                                <span class="text">{{currentUser_franchise.aadharNumber}}</span>
                                                {% else %}
                                                <span class="text">NA</span>
                                                {% endif %}
                                            </li>
                                            <li>
                                                <span class="title">Gender</span>
                                                {% if currentUser_franchise.gender %}
                                                <span class="text">{{currentUser_franchise.gender}}</span>
                                                {% else %}
                                                <span class="text">NA</span>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <span class="title">Address</span>
                                                {% if currentUser_franchise.address %}
                                                <span class="text">{{currentUser_franchise.address}}</span>
                                                {% else %}
                                                <span class="text">NA</span>
                                                {% endif %}
                                        </li>
                                        <li>
                                            <span class="title">State</span>
                                                {% if currentUser_franchise.state %}
                                                <span class="text">{{currentUser_franchise.state}}</span>
                                                {% else %}
                                                <span class="text">NA</span>
                                                {% endif %}
                                        </li>
                                        <li>
                                            <span class="title">District</span>
                                                {% if currentUser_franchise.district %}
                                                <span class="text">{{currentUser_franchise.district}}</span>
                                                {% else %}
                                                <span class="text">NA</span>
                                                {% endif %}
                                        </li>
                                        <li>
                                            <span class="title">City</span>
                                                {% if currentUser_franchise.city %}
                                                <span class="text">{{currentUser_franchise.city}}</span>
                                                {% else %}
                                                <span class="text">NA</span>
                                                {% endif %}
                                        </li>
                                        <li>
                                            <span class="title">Pincode</span>
                                                {% if currentUser_franchise.pinCode %}
                                                <span class="text">{{currentUser_franchise.pinCode}}</span>
                                                {% else %}
                                                <span class="text">NA</span>
                                                {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock bodyblock %}
{% block jsblock %}
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock jsblock %}
